*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:   sans-serif;
    background-image: linear-gradient(to right,rgb(188, 225, 240),rgb(236, 202, 248));
    /* background: linear-gradient(to   right,rgb(160, 228, 255),rgb(255, 255, 164));  */

}
.head{
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
}

.main{
   display: flex;
   padding: 20px;
   margin: auto;
   margin-top: 2%;
   align-items: center;
   justify-content: center;
}

.block{
    margin: 30px;
    border-radius: 10px;
    font: none;
    text-align: center;
    background: linear-gradient(to right,rgb(188, 225, 240),rgb(236, 202, 248)); 
    box-shadow: 1px 4px 15px 3px rgba(177, 175, 175, 0.521);


}

h1{
    margin: 5px;
    font-weight: lighter;

}
input{
    border:0.1px solid;
    padding: 6px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.8s ease-in-out;
    box-shadow: 1px 4px 15px 3px rgba(177, 175, 175, 0.521);
   
}

input:hover{
    color:rgb(255, 255, 240); 
    background: rgb(100, 100, 93); 
    transform: scale(1s);
    box-shadow: 1px 4px 15px 3px rgba(133, 126, 126, 0.521);


}


.main2{
    display: flex;
    justify-content: center;
}

@media(max-width:768px){
    
    .main{
        display: block;
    }
    .main2{
        display: block;
    }

}